# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development environment
.env

# Logs and databases
*.log
*.sqlite

# Static files
/static/

# Compiled files
*.pyc
*.pyo
*.pyd

# Dependency directories
venv/
env/
